.add
{
    color: #037b4f;
    background-color: #efefef;
    border: 3px #11b100 solid;
    font-size: 25px;
    padding: 5px;
    margin-bottom:10px ;
}

.failed-removing
{
    color: red;
    font-size: 25px;
    background-color: beige;
    border: 3px blue solid;
    padding: 5px;
    margin-bottom: 10px;
}
